# ----------------------- 语言模型配置 -----------------------
# 选项 1：ReByte Agents（推荐）
# 在 https://rebyte.ai > Settings > API Keys 获取你的 ReByte API 密钥
# REBYTE_API_KEY=YOUR_API_KEY

# 选项 2：备用 LLM API
# 支持的 API：OpenAI, Anthropic, Anyscale, Local LLM with Openai 兼容 API
# 示例值：
# OpenAI: "gpt-4", "gpt-3.5-turbo-16k" 等
# Anthropic: "claude-instant-1", "claude-2" 等
# Anyscale: "meta-llama/Llama-2-70b-chat-hf" 等
# Local LLM: "localhost"
# LLM_MODEL_USE 将覆盖前端选择！除非你知道自己在做什么，否则请保持为空！
# LLM_MODEL_USE=gpt-3.5-turbo-16k

# API 密钥
# 请注意，如果不使用 ReByte，则无论使用什么 LLM API，都需要一个 OPENAI_API_KEY 来生成知识库的嵌入
# OPENAI_API_KEY=YOUR_API_KEY
# ANTHROPIC_API_KEY=YOUR_API_KEY
# ANYSCALE_ENDPOINT_API_KEY=YOUR_API_KEY

# 本地 LLM 配置（与 Openai 兼容的 API）
# 示例 URL: "http://localhost:8001/v1"
# LOCAL_LLM_URL=

# 选项 3：Azure OpenAI API
# 对于 Azure OpenAI，请取消注释并设置以下条目
# OPENAI_API_TYPE=azure
# OPENAI_API_VERSION=2023-03-15-preview
# 基础 URL 可以在 Azure 门户中的 Azure OpenAI 资源下找到
# OPENAI_API_BASE=https://your-base-url.openai.azure.com
# OPENAI_API_MODEL_DEPLOYMENT_NAME=gpt-35-turbo
# OPENAI_API_EMBEDDING_DEPLOYMENT_NAME=text-embedding-ada-002

# Gemini API 密钥配置
GEMINI_API_KEY=AIcKBnwtc9c...


# ----------------------- 语音转文本配置 -----------------------
# 选择引擎：LOCAL_WHISPER, LOCAL_WHISPER_X（推荐）, WHISPER_X_API, OPENAI_WHISPER, GOOGLE
SPEECH_TO_TEXT_USE=LOCAL_WHISPER

# 本地 Whisper 配置
# 选择模型：“tiny”，“base”（推荐）， “small”，“medium”，“large”
LOCAL_WHISPER_MODEL=base
# 如果安装了 OpenCC，请取消注释并设置为 s2t 用于繁体中文，t2s 用于简体中文
# OPENCC=
# 日志模式（可选）
# 日志模式资源密集，只有在你有 GPU 和大量 RAM 时才启用
# JOURNAL_MODE=false
# 在 https://huggingface.co/settings/tokens 获取 HuggingFace 访问令牌
# 授予所需模型的访问权限。请参见 https://github.com/m-bain/whisperX?tab=readme-ov-file#speaker-diarization
# HF_ACCESS_TOKEN=YOUR_API_KEY

# Whisper X API 配置
# WHISPER_X_API_URL=
# WHISPER_X_API_URL_JOURNAL=
# WHISPER_X_API_KEY=YOUR_API_KEY

# OpenAI Whisper API 配置
# OPENAI_WHISPER_API_KEY=YOUR_API_KEY

# Google 语音转文本 API 配置
# GOOGLE_APPLICATION_CREDENTIALS=google_credentials.json

# ----------------------- 文本转语音配置 -----------------------
# Edge TTS 配置
EDGE_TTS_DEFAULT_VOICE=en-US-ChristopherNeural

# Eleven Labs 配置
# ELEVEN_LABS_API_KEY=YOUR_API_KEY
# 设置为 "true" 以访问 V2 模型
# ELEVEN_LABS_USE_V2=true

# Google 文本转语音 API 配置
# GOOGLE_APPLICATION_CREDENTIALS=google_credentials.json

# XTTS 配置
# XTTS_API_KEY=YOUR_API_KEY
# XTTS_API_URL=

# -------------------------- 数据库配置 --------------------------
# SQLite 数据库 URL（要初始化数据库，请参见 README）
# 格式：sqlite:///<path_to_db_file>
DATABASE_URL=sqlite:///./init_db.sqlite

# -------------------------- 可选配置 --------------------------
# Firebase 配置
# 通过将 USE_AUTH 设置为 "true" 来启用用户登录，保持为空以禁用
# 从 https://console.firebase.google.com 获取 Firebase 凭据
# USE_AUTH=true
# FIREBASE_CONFIG_PATH=firebase_credentials.json

# Google Cloud Storage
# 对于 RealChar 提供的角色使用默认值
# 使用你自己的存储桶以启用上传头像、音频和知识到你自己的角色
# 你需要在 Google Cloud Storage 中创建一个存储桶，并在本地登录 gcloud CLI
GCP_STORAGE_URL=https://storage.googleapis.com/assistly
GCP_STORAGE_BUCKET_NAME=assistly

# LLM 追踪
# LANGCHAIN_TRACING_V2=false # 默认：关闭
# LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
# LANGCHAIN_API_KEY=YOUR_LANGCHAIN_API_KEY
# LANGCHAIN_PROJECT=YOUR_LANGCHAIN_PROJECT

# 知识库（角色目录）
# 设置为 "false" 以在启动时跳过更新知识库，否则强制更新。默认值：true
# OVERWRITE_CHROMA=false

# Twilio 集成
# 从 https://console.twilio.com 获取帐户 SID 和授权令牌
# 使用你拥有的号码进行外呼
# TWILIO_ACCOUNT_SID=
# TWILIO_ACCESS_TOKEN=
# DEFAULT_CALLOUT_NUMBER=
