.custom-style {
    background-color: #f4f5f7; /* 背景颜色 */
    color: #808080; /* 默认内容颜色 */
    border-radius: 20px; /* 保证是椭圆 */
    box-sizing: border-box;
    display: inline-flex; /* 保持内容内联显示 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding: 9px 20px; /* 增加水平内边距，分散内容 */
    height: 40px; /* 设置高度 */
    min-width: 100px; /* 最小宽度，适配内容 */
    font-weight: 500; /* 字体粗细 */
    line-height: 1.5; /* 行高 */
    letter-spacing: 0.5px; /* 增加字母间距 */
}

.custom-style span {
    margin-right: 8px; /* 为 "英" 和音标增加间距 */
    color: #000000; /* 设置 "英" 的字体颜色 */
}
